.App {
  display: flex;
  height: 100vh;
}

.LottoMax {
  width: 100%;
}

.Lotto649 {
  margin-top: 46px;
  margin-bottom: 7px;
  width: 75%;
  height: auto;
}

.DailyGrand {
  margin-top: 20px;
  width: 70%;
}


.column {
  width: 33.3333333333333333333333%;
  text-align: center;
}


#max {
  padding-top: 5%;
  padding-bottom: 40%;
  background-image: url('./Lotto_Max/bg-landing-lottomax.jpg');
}

#lotto649 {
  padding-top: 5%;
  padding-bottom: 40%;
  background-image: url('./Lotto_649/1472670177291_57c729e0fb3bb1255984d246.png');
}

#DG {
  padding-top: 5%;
  padding-bottom: 40%;
  background-image: url('./Daily_Grand/1484686594850_587e85029f7b1ab31ad12ed1.jpg');
}