.App {
  text-align: center;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.LottoMax {
  width: 100%;
}

.Lotto649 {
  margin-top: 46px;
  margin-bottom: 7px;
  width: 75%;
  height: auto;
}

.DailyGrand {
  margin-top: 20px;
  width: 70%;
}

@media screen and (min-width: 600px) {
  .column {
    float: left;
    width: 33.3333333333333333333333%;
    height: auto;
    text-align: center;
  }
}

#max {
  padding-top: 5%;
  padding-bottom: 40%;
  background-image: url('./Lotto_Max/bg-landing-lottomax.jpg');
}

#lotto649 {
  padding-top: 5%;
  padding-bottom: 40%;
  background-image: url('./Lotto_649/1472670177291_57c729e0fb3bb1255984d246.png');
}

#DG {
  padding-top: 5%;
  padding-bottom: 40%;
  background-image: url('./Daily_Grand/1484686594850_587e85029f7b1ab31ad12ed1.jpg');
}